body {
    font-family: Arial, sans-serif;
    background: #333333;
    color: #fff;
    font-size: 40px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1::before {
    content: '';
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #eeeaea;
    background: #ef0e0e;
    transform: translateX(-40%);
}

h1::after {
    content: '';
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #eeeaea;
    background: #1402da;
    transform: translateX(32%);
}